.screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.mask {
    background-color: rgba(34, 34, 34, .9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.mask.hidden {
    display: none;
}
.popup {
    position: fixed;
    z-index: 100;
    background-color: #525252;
    color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90vw;
    padding: 30px 20px;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
.popup.hidden {
     display: none;

 }
.btn {
    background-color: #9FBC4D;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.score-counter {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    font-family: 'Russo One', sans-serif;
    color: #9FBC4D;
}
