.dino {
    background-image: url("/imgs/DinoSprites.png");
    width: 80px;
    height: 80px;
    background-size: auto 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    animation:
            moove 10s linear forwards,
            walking 1.5s steps(7) infinite,
            waiting 1.5s 5s steps(3) infinite,
            walking .3s 8.8s steps(7) infinite;

}
.dino::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
    background-size: contain;
    background-position: center;
    width: 80%;
    background-image: url("/imgs/shadow_2.png");
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.smoke {
    background-image: url("/imgs/Smoke2.png");
    width: 60px;
    height: 120px;
    background-size: auto 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    animation:
            smoke-appear 10s steps(1) forwards,
            full 1s steps(6) infinite;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
}
.catchphrase {
    box-sizing: border-box;
    color: #9FBC4D;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
    position: fixed;
    height: 110px;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(45px);
    border: 10px solid #9FBC4D;
    border-radius: 5px;
    padding: 15px;
    font-size: 30px;
    animation: text-appear 10s linear infinite;
    text-align: center;
    overflow: hidden;
}
.catchphrase div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    white-space: nowrap;

}

@keyframes walking {
    from {
        background-position-x: calc(100% / 23 * 3);
    }
    to {
        background-position-x: calc(100% / 23 * 10);
    }
}
@keyframes waiting {
    from {
        background-position-x: calc(100% / 23 * 0);
    }
    to {
        background-position-x: calc(100% / 23 * 3);
    }
}
@keyframes moove {
    0% {
        transform: translateY(-50%) translateX(-100%);
        left: 0;
    }

    50% {
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }
    90% {
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
    }
    100% {
        transform: translateY(-50%) translateX(0);
        left: 100%;
    }
}
@keyframes smoke-appear {
    0% {
       opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes text-appear {
    0% {
        opacity: 0;
        width: 0;
    }
    50% {
        opacity: 0;
        width: 0;
    }
    70% {
        opacity: 1;
        width: 300px;
    }
    100% {
        opacity: 1;
        width: 300px;
    }
}

@keyframes full {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 100%;
    }
}
